<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.pilotSchool.mapper.auto.FacilityMapper">
  <resultMap id="BaseResultMap" type="com.fc.pilotSchool.model.auto.Facility">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="facility_name" jdbcType="VARCHAR" property="facilityName" />
    <result column="facility_address" jdbcType="VARCHAR" property="facilityAddress" />
    <result column="facility_master" jdbcType="VARCHAR" property="facilityMaster" />
    <result column="master_phone" jdbcType="VARCHAR" property="masterPhone" />
    <result column="facility_status" jdbcType="VARCHAR" property="facilityStatus" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  
     	id,
     	facility_name,
     	facility_address,
     	facility_master,
     	master_phone,
     	facility_status,
   	  	cost
  	
  </sql>
  
  <select id="selectByExample" parameterType="com.fc.pilotSchool.model.auto.FacilityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from facility
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from facility
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from facility
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fc.pilotSchool.model.auto.FacilityExample">
    delete from facility
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.fc.pilotSchool.model.auto.Facility">
    insert into facility (
      id,
      facility_name,
      facility_address,
      facility_master,
      master_phone,
      facility_status,
   	  cost
    )
    values (
     	#{id,jdbcType=VARCHAR},
     	#{facilityName,jdbcType=VARCHAR},
     	#{facilityAddress,jdbcType=VARCHAR},
     	#{facilityMaster,jdbcType=VARCHAR},
     	#{masterPhone,jdbcType=VARCHAR},
     	#{facilityStatus,jdbcType=VARCHAR},
   	  #{cost,jdbcType=DECIMAL}
    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.fc.pilotSchool.model.auto.Facility">
    insert into facility
    <trim prefix="(" suffix=")" suffixOverrides=",">
    
      <if test="id != null">
        id,
      </if>
    
      <if test="facilityName != null">
        facility_name,
      </if>
    
      <if test="facilityAddress != null">
        facility_address,
      </if>
    
      <if test="facilityMaster != null">
        facility_master,
      </if>
    
      <if test="masterPhone != null">
        master_phone,
      </if>
    
      <if test="facilityStatus != null">
        facility_status,
      </if>
    
      <if test="cost != null">
        cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="facilityName != null">
        #{facilityName,jdbcType=VARCHAR},
      </if>
      <if test="facilityAddress != null">
        #{facilityAddress,jdbcType=VARCHAR},
      </if>
      <if test="facilityMaster != null">
        #{facilityMaster,jdbcType=VARCHAR},
      </if>
      <if test="masterPhone != null">
        #{masterPhone,jdbcType=VARCHAR},
      </if>
      <if test="facilityStatus != null">
        #{facilityStatus,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.fc.pilotSchool.model.auto.FacilityExample" resultType="java.lang.Long">
    select count(*) from facility
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update facility
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.facilityName != null">
        facility_name = #{record.facilityName,jdbcType=VARCHAR},
      </if>
      <if test="record.facilityAddress != null">
        facility_address = #{record.facilityAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.facilityMaster != null">
        facility_master = #{record.facilityMaster,jdbcType=VARCHAR},
      </if>
      <if test="record.masterPhone != null">
        master_phone = #{record.masterPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.facilityStatus != null">
        facility_status = #{record.facilityStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.cost != null">
        cost = #{record.cost,jdbcType=DECIMAL},
      </if>
     
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update facility
    set
    	 
    	 id = #{record.id,jdbcType=VARCHAR},
    	 
    	 facility_name = #{record.facilityName,jdbcType=VARCHAR},
    	 
    	 facility_address = #{record.facilityAddress,jdbcType=VARCHAR},
    	 
    	 facility_master = #{record.facilityMaster,jdbcType=VARCHAR},
    	 
    	 master_phone = #{record.masterPhone,jdbcType=VARCHAR},
    	 
    	 facility_status = #{record.facilityStatus,jdbcType=VARCHAR},
    	 
    	 cost = #{record.cost,jdbcType=DECIMAL}
    
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.pilotSchool.model.auto.Facility">
    update facility
    <set>
      
      <if test="facilityName != null and facilityName != ''">
        facility_name = #{facilityName,jdbcType=VARCHAR},
      </if>
      
      <if test="facilityAddress != null and facilityAddress != ''">
        facility_address = #{facilityAddress,jdbcType=VARCHAR},
      </if>
      
      <if test="facilityMaster != null and facilityMaster != ''">
        facility_master = #{facilityMaster,jdbcType=VARCHAR},
      </if>
      
      <if test="masterPhone != null and masterPhone != ''">
        master_phone = #{masterPhone,jdbcType=VARCHAR},
      </if>
      
      <if test="facilityStatus != null and facilityStatus != ''">
        facility_status = #{facilityStatus,jdbcType=VARCHAR},
      </if>
      
      <if test="cost != null and cost != ''">
        cost = #{cost,jdbcType=DECIMAL},
      </if>
    </set>
    
    where 
    
    id = #{id,jdbcType=VARCHAR}
  
  </update>

	

  <update id="updateByPrimaryKey" parameterType="com.fc.pilotSchool.model.auto.Facility">
    update facility
    set 
	  
		facility_name = #{facilityName,jdbcType=VARCHAR},
	  
		facility_address = #{facilityAddress,jdbcType=VARCHAR},
	  
		facility_master = #{facilityMaster,jdbcType=VARCHAR},
	  
		master_phone = #{masterPhone,jdbcType=VARCHAR},
	  
		facility_status = #{facilityStatus,jdbcType=VARCHAR},
		
		cost = #{cost,jdbcType=DECIMAL}
	
    where 
    
    id = #{id,jdbcType=VARCHAR}
    
  </update>
  
   
</mapper>